@font-face {
	font-family: 'spacegroteskbold';
	src: url('../font/spacegrotesk_bold.woff') format('woff');
}
@font-face {
	font-family: 'spacegroteskregular';
	src: url('../font/spacegrotesk_regular.woff') format('woff');
}
@font-face {
	font-family: 'spacegroteskregular';
	src: url('../font/spacegrotesk_regular.woff') format('woff');
}
/*@keyframes jiggle {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(3deg);}
	100% {transform: rotate(-3deg);}
}*/

/*for desktop*/
#temporary_message {
	display: none;
}

body {
	width: 100%;
	height: 100%;
	background-color: white;
	overflow-y: hidden;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: lightgray;
}
::-webkit-scrollbar-thumb {
	background: blue;
}
h1 {
	font-family: 'spacegroteskbold', sans-serif;
	color: black;
}
.cursor_text {
	font-family: 'spacegroteskregular', sans-serif;
	font-size: 50px;
	line-height: 50px;
	color: blue;
	z-index: 10;
}

/*sliding box with pngs of all works*/
#png_box {
	position: absolute;
	height: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
	z-index: 5;
}
.pngdiv {
	margin: 40px;
	padding: 10px;
	z-index: 5;
}
.ondisplay {
	margin-left: 50px;
	margin-right: 50px; 
	padding: 10px;
}

/*Joy in the corners*/
#corner_text {
	font-family: 'spacegroteskbold', sans-serif;
	font-size: 40px;
	color: rgb(0,0,0);
	display: inline;
	z-index: 20;
}
#scrollarrow {
	cursor: default;
	position: fixed;
	color: blue;
	bottom: 10px;
	left: 39%;
	z-index: 15;
}
#aboutme {
	cursor: pointer;
	position: fixed;
	bottom: 10px;
	left: 20px;
	z-index: 20;
}
#hidden_back {
	cursor: pointer;
	position: fixed;
	bottom: 10px;
	right: 20px;
	color: blue;
	z-index: 50;
}
#sortby {
	cursor: pointer;
	position: fixed;
	bottom: 10px;
	right: 20px;
	z-index: 20;
}
#aboutme:hover, #sortby:hover {
	color: rgb(0,0,255);
}
#catdisplay {

	background-color: white;
	position: fixed;
	bottom: 16px;
	left: 20px;
	cursor: pointer;
	z-index: 19;
}
.catbox {
	border: 2px solid blue;
	color: blue;
	background-color: white;
	font-family: 'spacegroteskbold';
	font-size: 22px;
	border-radius: 13px;
	cursor: pointer;
	z-index: 20;
}

.catbox:hover {
	background-color: blue;
}

/*my info navigation bar*/
#myinfo_nav {
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 0px;
	position: fixed;
	overflow: hidden;
	transition: all 0.8s ease;
	background-color: rgb(0,0,0); 
	z-index: 20;
}
#close {
	position: absolute;
	top: 10px;
	right: 20px;
	color: white;
	font-size: 70px;
	cursor: pointer;
	z-index: 10;
}
#close:hover {
	color: blue;
}
#mytext {
	cursor: default;
	position: absolute;
	top: 10px;
	left: 20px;
	height: 100%;
	width: 45%;
	font-family: 'spacegroteskregular', sans-serif;
	font-size: 22px;
	line-height: 30px;
	color: white;
}
#mail, #linkedin, #insta, #arena, #portfolio {
	font-family: 'spacegroteskbold';
}
.bold_sub {
	font-family: 'spacegroteskbold';
}
.links {
	text-decoration: none;
	color: rgb(237,237,237);
	font-family: 'spacegroteskregular';
}
.links:hover {
	color: blue;
}
/*hiding mobile stuff
*/
.collapsible, .content {
	display: none;
}

/*for ipad?*/
@media only screen and (min-width: 700px) and (max-width: 1200px) {

}

/*for mobile*/
@media only screen and (max-width: 700px) {

	body {
		overflow-y: visible;
	}
	body::-webkit-scrollbar {
		display: none;
	}
	h1 {
		font-size: 75px;
		text-align: left;
	}
	#png_box {
		display: none;
/*		flex-direction: column;
		align-content: center;
		position: absolute;
		margin-left: 50px;
		width: 85vw;
		height: auto;*/
	}
	#corner_text {
		font-size: 35px;
	}
	#mytext {
		top: 75px;
		font-size: 15px;
		width: 92vw;
	}
	#sortby {
		display: none;
	}	

	.cursor_text {
		display: none;
	}
	button, .content {
		display: inline;
	}
	.collapsible {
		display: inline;
		background-color: white;
		color: blue;
		padding: 18px;
		width: 98vw;
		border: none;
		border-bottom: 2px solid black;
		text-align: center;
		outline: none;
		font-size: 18px;
		font-family: 'spacegroteskbold';
	}

	/*.active, .collapsible:hover {
		background-color: blue;
	}*/

	.content {
		padding: 0 18px;
		display: none;
		overflow: hidden;
		background-color: white;
		font-family: 'spacegroteskregular';
		font-size: 15px;
	}
	#bottom_mobile_cover {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100vw;
		height: 70px;
		background-color: white;
		z-index: 5;
	}

	/*temporary underconstruction message for mobile devices*/
	/*	body {
		background-color: blue;
		overflow: hidden;
	}
	h1 {
		display: none;
	}
	div {
		display: none;
	}
	#temporary_message {
		margin: 10%;
		display: block;
		position: absolute;
		color: white;
	}
	#heading_text {
		display: inline-block;
		color: white;
		position: center;
	}*/

		/*	old desgin*/
		/*	#mobile_hint {
			position: absolute;
			margin: 0px;
			top: 0px;
			left: 0px;
			width: 100%;
			display: block;
			font-family: 'spacegroteskregular';
			font-size: 21px;
			color: white;
			background-color: rgb(255,206,43);
		}
		#introtext {
			position: absolute;
			line-height: 75px;
			top: 10vh;
		}
		#firstname {
			color: rgb(255,206,43);
		}
		#chinesename {
			color: black;
		}*/
}

.hide {
	display:  none;
}









