@font-face {
	font-family: 'spacegroteskbold';
	src: url('../font/spacegrotesk_bold.woff') format('woff');
}
@font-face {
	font-family: 'spacegroteskregular';
	src: url('../font/spacegrotesk_regular.woff') format('woff');
}
@keyframes jiggle {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(3deg);}
	100% {transform: rotate(-3deg);}
}

/*for desktop*/
body {
	width: 100%;
	height: 100%;
	background-color: white;
	overflow-y: hidden;
}
body::-webkit-scrollbar {
	display: none;
}
h1 {
	font-family: 'spacegroteskbold', sans-serif;
	font-size: 100px;
	color: black;
}
.cursor_text {
	font-family: 'spacegroteskregular', sans-serif;
	font-size: 50px;
	line-height: 50px;
	color: blue;
	z-index: 10;
}
#introtext {
	cursor: default;
	position: fixed;
	top: 8%;
	width: 100vw;
	height: 50vh;
	line-height: 115px;
	z-index: 10;
}
#firstname {
	display: inline-block;
}
#firstname:hover {
	color: rgb(255,206,43);
	animation: jiggle 0.5s infinite;
}
#chinesename {
	display: none;
	color: rgb(255,206,43);
}
#portfolio:hover {
	color: rgb(255,206,43);
	animation: jiggle 0.5s infinite;
	display: inline-block;
	cursor: pointer;
}

/*first page hover transitions*/
/*#expand_transition {
	position: absolute;
	top: 50vh;
	left: 50vw;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transform-origin: center;
	transition: all 1s linear;
	z-index: 1;
}*/

/*sliding box with pngs of all works*/
#png_box {
	position: absolute;
	top: 19%;
	display: none;
	flex-direction: row;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
}
.pngdiv {
	margin: 50px;
}

/*J O Y in the corners*/
#corner_text {
	cursor: pointer;
	font-family: 'futura', sans-serif;
	font-size: 70px;
	color: rgb(255,206,43);
	display: none;
	z-index: 20;
}
#justforfun {
	position: fixed;
	top: 0px;
	left: 20px;
}
#otherworks {
	position: fixed;
	top: 0px;
	right: 20px;
}
#aboutme {
	position: fixed;
	bottom: 0px;
	left: 20px;
}
#random {
	position: fixed;
	bottom: -10px;
	right: 15px;
}
#smiley_icon {
	width: 80px;
	height: 80px;
}

/*my info navigation bar*/
#myinfo_nav {
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 0px;
	position: fixed;
	overflow: hidden;
	transition: all 0.8s ease;
	background-color: rgb(255,206,43); 
	z-index: 20;
}
#close {
	position: absolute;
	top: 10px;
	right: 20px;
	color: white;
	font-size: 70px;
	cursor: pointer;
}
#close:hover {
	color: red;
}
#mytext {
	cursor: default;
	position: absolute;
	bottom: 10px;
	left: 20px;
	width: 97%;
	font-family: 'spacegroteskregular', sans-serif;
	font-size: 25px;
	color: black;
}
#mail {
	font-family: 'spacegroteskbold'
}

/*return button*/
#goback{
	cursor: pointer;
	font-family: 'futura', sans-serif;
	font-size: 50px;
	color: white;
	display: none;
	position: fixed;
	top: 10px;
	left: 20px;
}

/*for mobile*/
@media only screen and (max-width: 700px) {
	#introtext {
		display: none;
	}
	#png_box {
		flex-direction: column;
	}
}










